body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header section */
header{
    background-image: url("../Assets/Hero-bg.png");
    padding: 30px 100px;
}

header nav{
    display: flex;
    justify-content: space-between;
}
nav h2{
    color: blue;
    font-weight:bolder;
    font-size: 40px;
}
nav button{
    height: 40px;
    padding: 20px 20px;
    margin-top: 30px;

}
.header-section{
    text-align: center;
    margin: 150px;
}
.header-section h1{
    font-size: 3em;
}
.primary-button{
    background-color: #4E47FF;
    padding: 5px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    transition:0.5s;
}
.primary-button:hover{
    background-color: rgb(173, 218, 75);
}

/* main part */
main{
    margin: 80px 150px;
}
/* action section */
.action-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.action-img img{
    border-radius: 10px;
}

/* productive-user-section */
.productive-user-section{
    margin-top: 60px;
    background-color:#eaeaf0;
    text-align: center;
    padding:20px 80px;
}
.productive-user-div{
    display: flex;
    justify-content: space-around;    
}
.productive-user-div-span{
    font-size: xxx-large;
    font-weight: bold;
    color: #4E47FF;
}

/* user-feedback-section */
.user-feedback-section{
    margin: 60px 0px;
}
.user-feedback-section h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.feedback-column{
    display: flex;
    justify-content: space-between;
    gap : 20px;
}
.Imag-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 15px;
}
.feedback-footer{
    display: flex;
    gap: 16px;  
}
.feedback{
    background-color: #f4f0f0;
    padding: 20px;
}
/* optional-section */
.optional-section{
    background-color:#f4f0f0 ;
    text-align: center;
}
.optional-1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.optional-1 h1{
    font-size: 40px;
}
.optional-2{
    padding-bottom: 40px;
}
.optional-2 img{
        border-radius: 20px;
}

/* touch-section */
.touch-section{
    background-color: #f8f8fe;
    margin:50px 0px;
    display: flex;    
    padding: 60px 0px;
    gap: 100px;
}

.touch-description{
    font-weight: 400;
    font-size: 80px;
    margin-right: 100px;
    color: black;
}

.touch, .touch textarea{
    margin-bottom: 20px;
}
.touch input, .touch textarea{
    width: 500px;
    border: none;
    padding: 10px 20px;
}
.touch input , .touch button{
    height: 40px;
}

/* Footer-section */
.footer-section{
    background-color: aliceblue;
    text-align: center;
    padding: 50px 30px;
}
footer ul{
    display: flex;
    padding-left: 550px;
}
footer ul li{
    list-style: none;
    padding-right: 30px;
}
footer ul li a{
    text-decoration: none;
}
